<ion-header class="ion-no-border">
  <ion-list lines="none" class="ion-padding-top">
    <ion-item color="primary">
      <ion-label>{{ name }}</ion-label>
    </ion-item>
  </ion-list>
  <div class="popover">
    <div *ngIf="showBtn">
      <ion-button
        id="trigger-button"
        class="generate-btn"
        (click)="getDiscoverMovie()"
      >
        <span class="font-span">Generate</span>
      </ion-button>
      <ion-modal
        backdropDismiss="true"
        trigger="trigger-button"
        class="modal"
        (click)="dismiss()"
      >
        <ng-template>
          <ion-content>
            <div class="modal-content">
              <div class="modal-card">
                <ion-button class="close-modal-btn" (click)="dismiss()">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
                <ion-card>
                  <a [routerLink]="['/home', discoverResponse.id]">
                    <img
                      [src]="
                        'http://image.tmdb.org/t/p/original/' +
                        discoverResponse.poster_path
                      "
                      alt="movie image"
                    />
                    <h4>{{ discoverResponse.title }}</h4>
                  </a>
                </ion-card>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
    <div *ngIf="showSearchBar">
      <ion-searchbar
        color="light"
        (value)="searchText"
        (ionChange)="handleInputChange($event)"
      >
      </ion-searchbar>
    </div>
  </div>
</ion-header>
