<ion-item lines="none" color="transparent">
  <ion-label class="title">{{ title }}</ion-label>
</ion-item>
<swiper
  *ngIf="isTrend"
  [slidesPerView]="2"
  [loop]="true"
  [loopedSlides]="2"
>
  <ng-template swiperSlide *ngFor="let item of trendsList">
    <app-movie-card
      [title]="item.title"
      [imgSrc]="'http://image.tmdb.org/t/p/original/' + item.poster_path"
      [router]="['/home', item.id]"
      [isAddBtn]="true"
      [item]="item"
    ></app-movie-card>
  </ng-template>
</swiper>
<swiper
  *ngIf="!isTrend"
  [slidesPerView]="2"
  [loop]="true"
  [loopedSlides]="2"
>
  <ng-template swiperSlide *ngFor="let item of topList">
    <app-movie-card
      [title]="item.title"
      [imgSrc]="'http://image.tmdb.org/t/p/original/' + item.poster_path"
      [router]="['/home', item.id]"
      [isAddBtn]="true"
      [item]="item"
    ></app-movie-card>
  </ng-template>
</swiper>
