<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ genres }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="information">
    <img [src]="'http://image.tmdb.org/t/p/w780/' + information.poster_path" />
    <h1>{{information.title}}</h1>
    <h3>PLOT</h3>
    <p>{{information.overview}}</p>
    <div class="rating-directors">
      <div>
        <h4>RATING</h4>
        <div class="score">{{information.vote_average}}</div>
      </div>
      <div class="director">
        <h4>DIRECTOR</h4>
        <p>{{directors}}</p>
      </div>
    </div>
    <div class="movie-information">
      <ion-item>
        <p>{{time}}</p>
      </ion-item>
      <ion-item>
        <p>{{information.budget}}</p>
      </ion-item>
      <ion-item>
        <p>{{information.revenue}}</p>
      </ion-item>
    </div>
    <div class="actors-container">
      <h4>ACTORS</h4>
      <div class="actors-box">
        <div class="actors" *ngFor="let actor of actors">
          <img
            [src]="'http://image.tmdb.org/t/p/w780/' + actor.profile_path"
            *ngIf="actor.profile_path !== null"
          />
          <h5>{{actor.name}}</h5>
          <p>{{actor.character}}</p>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
