<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="logo-container">
      <a href="/">
        <img src="../../../assets/mg-icon.png" alt="" />
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <div class="images-content">
      <ion-button slot="end" fill="clear" (click)="getItems()">
        <ion-icon slot="icon-only" class="bookmark" name="bookmark"></ion-icon>
        <ion-icon class="add" name="add"></ion-icon>
      </ion-button>
      <ion-img
        [src]="'http://image.tmdb.org/t/p/original/' + movie.backdrop_path"
      >
      </ion-img>
      <ion-badge class="badge" *ngIf="voterRating"
        ><span>{{voterRating}}</span><i class="fas fa-star"></i
      ></ion-badge>
    </div>
    <div class="information-container ion-margin-start ion-margin-end">
      <div class="ion-margin-bottom">
        <h1>{{movie.title}}</h1>
        <ion-row class="ion-justify-content-start">
          <ion-col size="3" sizeLg="1" sizeMd="2" sizeSm="3" sizeXs="4">
            <ion-text color="dark">
              <span>{{ movie.release_date }}</span>
            </ion-text>
          </ion-col>
          <ion-col size="3" sizeLg="1" sizeMd="2" sizeSm="3" sizeXs="4">
            <ion-text color="dark">
              <span>{{ runTime }}</span>
            </ion-text>
          </ion-col>
        </ion-row>
      </div>

      <ion-toolbar>
        <div class="ion-margin-bottom">
          <ion-chip *ngFor="let item of movie.genres">{{item.name}}</ion-chip>
        </div>
      </ion-toolbar>
      <p class="overview">{{movie.overview}}</p>
    </div>

    <div class="ion-margin-end" *ngIf="crewItemList.length > 0">
      <ion-list>
        <ion-list-header>
          <h3>Director</h3>
        </ion-list-header>
        <ion-item>
          <ion-avatar slot="start">
            <img *ngIf="directorImage" [src]="directorImage" />
          </ion-avatar>
          <ion-label>
            <h2>{{directorName}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-margin-end" *ngIf="castItemList.length > 0">
      <ion-list>
        <ion-list-header>
          <h3>Casting</h3>
        </ion-list-header>

        <ion-item *ngFor="let castItem of castItemList">
          <ion-avatar slot="start">
            <img *ngIf="castItem.profile_path" [src]="castItem.profile_path" />
          </ion-avatar>
          <ion-label>
            <h2>{{ castItem.name }}</h2>
            <h4>{{ castItem.character }}</h4>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
