ion-header {
  ion-list {
    background: var(--ion-color-primary);
    border-radius: 0 0 15px 15px;
    padding-bottom: 6vh;

    ion-item {
      ion-label {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }
    }
  }

  .popover {
    margin: 0 8px;

    ion-searchbar {
      --border-radius: 20px;
      margin-top: -30px;
      --background: white;
      --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.card {
  .card-content {
    position: relative;

    .badge {
      position: absolute;
      top: -12px;
      right: -15px;
      background: transparent;
      color: #ffbe0b;

      i {
        font-size: 2rem;
      }

      span {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 0.8rem;
      }
    }

    img {
      object-fit: cover;
      border-radius: 12px;
      width: 100%;
      transition: 600ms all ease-in-out;
    }

    h4 {
      margin: 0.5rem;
      margin-top: 0;
      font-size: 1rem;
      font-weight: bold;
      color: #495057;
      text-align: center;
    }
  }
}
