<ion-header class="ion-no-border" *ngIf="isMobileSize()">
  <ion-list lines="none" class="ion-padding-top">
    <ion-item color="primary">
      <ion-label>Search</ion-label>
    </ion-item>
  </ion-list>
  <div class="popover">
    <ion-searchbar [(ngModel)]="searchValue" (ionChange)="filterList()">
    </ion-searchbar>
  </div>
</ion-header>

<header *ngIf="!isMobileSize()">
  <div class="header-container">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="../../../assets/mg-icon.png" alt="logo" />
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <div class="popover">
            <ion-searchbar [(ngModel)]="searchValue" (ionChange)="filterList()">
            </ion-searchbar>
          </div>
        </li>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/search']">Search</a>
        </li>
        <li>
          <a [routerLink]="['/watchlist']">Watchlist</a>
        </li>
        <li>
          <a href="#">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<ion-content>
  <ion-list>
    <div *ngIf="results.length > 0">
      <ion-grid fixed="true">
        <ion-row>
          <ion-col
            button
            *ngFor="let item of results"
            [routerLink]="['/search', item.id]"
            size-lg="2"
            size-md="4"
            size-sm="6"
            size-xs="6"
          >
            <div class="card">
              <div class="card-content">
                <ion-badge class="badge" *ngIf="item.voterRating"
                  ><span>{{ item.voterRating }}</span><i class="fas fa-star"></i
                ></ion-badge>
                <img [src]="item.image" />
                <h4>{{item.title}}</h4>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-list>
  <footer *ngIf="!isMobileSize()">
    <div class="header-container">
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/search']">Search</a>
          </li>
          <li>
            <a [routerLink]="['/watchlist']">Watchlist</a>
          </li>
          <li>
            <a href="#">Profile</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</ion-content>
