<app-header
  name="Search"
  [showSearchBar]="true"
  searchText="searchText"
  (setSearchText)="segmentChanged($event)"
></app-header>

<ion-content fullscreen="true">
  <div *ngIf="results.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col
          *ngFor="let item of results"
          size-lg="2"
          size-md="4"
          size-sm="6"
          size-xs="6"
        >
          <app-movie-card
            [title]="item.title"
            [imgSrc]="item.image"
            [router]="['/search', item.id]"
            [voterRating]="item.voterRating"
            [isRatingBtn]="true"
          ></app-movie-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
