<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar
    slot="bottom"
    selectedTab="home"
    class="ion-no-border"
    *ngIf="isMobileSize()"
  >
    <ion-tab-button tab="home">
      <ion-icon
        [name]="selectedTab === 'home' ? 'home' : 'home-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon
        [name]="selectedTab === 'search' ? 'search' : 'search-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="watchlist">
      <ion-icon
        [name]="selectedTab === 'watchlist' ? 'bookmark' : 'bookmark-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon
        [name]="selectedTab === 'tab4' ? 'person' : 'person-outline'"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
