.font-h1 {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.font-span {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

ion-toolbar {
  --background: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);

  --background: #0055ff70;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

ion-content {
  //--ion-background-color: rgb(146, 57, 57);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../../assets/vanishing-stripes.svg") no-repeat center center
    fixed;
  //padding-bottom: 50px;
  /* background by SVGBackgrounds.com */
  //padding-top: 50px;
}

ion-card {
  width: 100%;
  min-height: 300px;
  box-shadow: none;
  border-radius: 12px;

  img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.generate-btn {
  margin-top: 20px;
  width: 120px;
  height: 50px;
  --background: #ff002b;
}
