<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <a class="home-link" href="#">MG</a>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-content">
    <h1 class="font-h1">Recommended movies</h1>
    <ion-slides [options]="option">
      <ion-slide>
        <ion-card>
          <img src="../../assets/django.jpg" alt="" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/django.jpg" alt="" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/django.jpg" alt="" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/django.jpg" alt="" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/django.jpg" alt="" />
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Rating</ion-label>
            <ion-select value="none" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="brown">10 - 9</ion-select-option>
              <ion-select-option value="blonde">9 - 8</ion-select-option>
              <ion-select-option value="black">8 - 7</ion-select-option>
              <ion-select-option value="red">7 - 6</ion-select-option>
              <ion-select-option value="red">6 - 5</ion-select-option>
              <ion-select-option value="red">5 - 4</ion-select-option>
              <ion-select-option value="red">4 - 3</ion-select-option>
              <ion-select-option value="red">3 - 2</ion-select-option>
              <ion-select-option value="red">2 - 1</ion-select-option>
              <ion-select-option value="red">1 - 0</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Genres</ion-label>
            <ion-select value="none" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="brown">Action</ion-select-option>
              <ion-select-option value="blonde">Adventure</ion-select-option>
              <ion-select-option value="black">Animation</ion-select-option>
              <ion-select-option value="red">Biography</ion-select-option>
              <ion-select-option value="red">Comedy</ion-select-option>
              <ion-select-option value="red">Crime</ion-select-option>
              <ion-select-option value="red">Documentary</ion-select-option>
              <ion-select-option value="red">Drama</ion-select-option>
              <ion-select-option value="red">Family</ion-select-option>
              <ion-select-option value="red">Fantasy</ion-select-option>
              <ion-select-option value="red">Film-Noir</ion-select-option>
              <ion-select-option value="red">History</ion-select-option>
              <ion-select-option value="red">Horror</ion-select-option>
              <ion-select-option value="red">Music</ion-select-option>
              <ion-select-option value="red">Musical</ion-select-option>
              <ion-select-option value="red">Mystery</ion-select-option>
              <ion-select-option value="red">Romance</ion-select-option>
              <ion-select-option value="red">Sci-fi</ion-select-option>
              <ion-select-option value="red">Short</ion-select-option>
              <ion-select-option value="red">Sport</ion-select-option>
              <ion-select-option value="red">Thriller</ion-select-option>
              <ion-select-option value="red">War</ion-select-option>
              <ion-select-option value="red">Western</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="Enter your favourite actor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button class="generate-btn">
        <span class="font-span">Generate</span>
      </ion-button>
    </ion-grid>
  </div>
</ion-content>
