<!-- <ion-header class="ion-no-border" *ngIf="isMobileSize()">
  <div class="popover">
    <ion-button
      id="trigger-button"
      class="generate-btn"
      (click)="getDiscoverMovie()"
    >
      <span class="font-span">Generate</span>
    </ion-button>
    <ion-modal
      backdropDismiss="true"
      trigger="trigger-button"
      class="modal"
      (click)="dismiss()"
    >
      <ng-template>
        <ion-content>
          <div class="modal-content">
            <div class="modal-card">
              <ion-button class="close-modal-btn" (click)="dismiss()"
                ><ion-icon name="close-outline"></ion-icon>
              </ion-button>
              <ion-card button [routerLink]="['/home', discoverResponse.id]">
                <img
                  [src]="'http://image.tmdb.org/t/p/original/' + discoverResponse.poster_path"
                />
                <ion-text color="dark">
                  <h4>{{discoverResponse.title}}</h4>
                </ion-text>
              </ion-card>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-header> -->

<app-header name="Movie Generator" showBtn="true"></app-header>

<header background="dark" *ngIf="!isMobileSize()">
  <div class="header-container">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="../../../assets/mg-icon.png" alt="logo" />
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <button
            id="trigger-button"
            class="generate-btn"
            (click)="getDiscoverMovie()"
          >
            Generate
          </button>
        </li>
        <li>
          <a [routerLink]="['/']"
            ><ion-text color="dark"><span>Home</span></ion-text></a
          >
        </li>
        <li>
          <a [routerLink]="['/search']"
            ><ion-text color="dark"><span>Search</span></ion-text></a
          >
        </li>
        <li>
          <a [routerLink]="['/watchlist']"
            ><ion-text color="dark"><span>Watchlist</span></ion-text></a
          >
        </li>
        <li>
          <a href="#"
            ><ion-text color="dark"><span>Profile</span></ion-text></a
          >
        </li>
      </ul>
    </nav>
  </div>

  <ion-modal
    backdropDismiss="true"
    trigger="trigger-button"
    class="modal"
    (click)="dismiss()"
  >
    <ng-template>
      <ion-content>
        <div class="modal-content">
          <div class="modal-card">
            <ion-button class="close-modal-btn" (click)="dismiss()"
              ><ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <ion-card button [routerLink]="['/home', id]">
              <img [src]="image" />
              <ion-text color="dark">
                <h4>{{title}}</h4>
              </ion-text>
            </ion-card>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</header>

<ion-content fullscreen="true">
  <app-slider title="Trends" isTrend="true"></app-slider>
  <app-slider title="Top Rated" isTrend="false"></app-slider>
  <!-- <swiper [config]="slideOpts">
          <ng-template swiperSlide *ngFor="let item of results">
            
            <ion-card>
              <ion-button fill="clear" (click)="getItems(item)">
                <ion-icon
                  slot="icon-only"
                  class="bookmark"
                  name="bookmark"
                ></ion-icon>
                <ion-icon class="add" name="add"></ion-icon>
              </ion-button>
              
              <div tappable [routerLink]="['/home', item.id]">
                <img [src]="item.image" />
                <ion-text color="dark">
                  <h4>{{item.title}}</h4>
                </ion-text>
              </div>
            </ion-card>
          </ng-template>
        </swiper> -->
  <!-- <ion-item lines="none" color="transparent">
    <ion-label class="title">Top Rated</ion-label>
  </ion-item>
  <swiper [config]="slideOpts">
    <ng-template swiperSlide button *ngFor="let item of topRatedResults">
      <ion-card>
        <ion-button fill="clear" (click)="getItems(item)">
          <ion-icon
            slot="icon-only"
            class="bookmark"
            name="bookmark"
          ></ion-icon>
          <ion-icon class="add" name="add"></ion-icon>
        </ion-button>
        <div tappable [routerLink]="['/home', item.id]">
          <img [src]="item.image" />
          <ion-text color="dark">
            <h4>{{item.title}}</h4>
          </ion-text>
        </div>
      </ion-card>
    </ng-template>
  </swiper> -->
</ion-content>
<footer *ngIf="!isMobileSize()">
  <div class="header-container">
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/search']">Search</a>
        </li>
        <li>
          <a [routerLink]="['/watchlist']">Watchlist</a>
        </li>
        <li>
          <a href="#">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
