<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="searchChanged()"
  ></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="refreshUsers($event)">
    <ion-refresher-content></ion-refresher-content
  ></ion-refresher>

  <ion-list>
    <ion-card
      button
      *ngFor="let item of (results | async)"
      [routerLink]="['/tabs/tab2', item.id]"
    >
      <img
        [src]="'http://image.tmdb.org/t/p/w780/' + item.poster_path"
        *ngIf="item.poster_path !== null"
      />
      {{item.title}}
    </ion-card>
  </ion-list>
</ion-content>
