ion-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

ion-card {
  border-radius: 20px;
  margin: 0px 20px;

  img {
    width: 100%;
    max-width: 100px;
    transition: all 0.3s;
    object-fit: cover;
    border-radius: 20px;
    animation: animateThumb 0.5s;
  }
}
