<ion-header class="ion-no-border" *ngIf="isMobileSize()">
  <ion-list lines="none" class="ion-padding-top">
    <ion-item color="primary">
      <ion-label>Watchlist</ion-label>
    </ion-item>
  </ion-list>
</ion-header>

<header *ngIf="!isMobileSize()">
  <div class="header-container">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="../../../assets/mg-icon.png" alt="logo" />
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/search']">Search</a>
        </li>
        <li>
          <a [routerLink]="['/watchlist']">Watchlist</a>
        </li>
        <li>
          <a href="#">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<ion-content>
  <ion-list>
    <div *ngIf="results else empty">
      <ion-grid fixed="true">
        <ion-row>
          <ion-col
            button
            *ngFor="let item of results; let i = index"
            [routerLink]="['/watchlist', item.id]"
            size-lg="2"
            size-md="4"
            size-sm="6"
            size-xs="6"
          >
            <ion-button fill="clear" (click)="removeItem(item, i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <div>
              <img *ngIf="item.image; else other_content" [src]="item.image" />
              <ng-template #other_content
                ><img
                  [src]="'http://image.tmdb.org/t/p/original/' + item.poster_path"
              /></ng-template>
              <h4>{{item.title}}</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ng-template #empty>
      <div class="ion-text-center">
        <h2>Watchlist is empty!</h2>
      </div>
    </ng-template>
  </ion-list>
</ion-content>

<footer *ngIf="!isMobileSize()">
  <div class="header-container">
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/search']">Search</a>
        </li>
        <li>
          <a [routerLink]="['/watchlist']">Watchlist</a>
        </li>
        <li>
          <a href="#">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
