ion-header {
  ion-list {
    background: var(--ion-color-primary);
    border-radius: 0 0 15px 15px;
    padding-bottom: 6vh;

    ion-item {
      ion-label {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }
    }
  }
}

ion-col {
  position: relative;
  ion-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    font-size: 1.1rem;
    width: 40px;
    height: 40px;
    --background: #e01e37;
    --box-shadow: none;
    --vertical-align: middle;
    --padding-start: 0px;
    --padding-end: 0px;
    margin: 0;

    ion-icon {
      color: black;
    }
  }

  img {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    transition: 600ms all ease-in-out;
  }

  h4 {
    margin: 0.5rem;
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #495057;
  }
}

@media (min-width: 820px) {
  ion-list {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
  ion-card {
    img {
      height: 225px;
      max-width: 150px;
    }
  }

  header {
    background: #ffffff;
    position: relative;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .header-container {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 2rem;
    }

    .logo {
      max-width: 100px;
    }

    nav {
      width: 100%;
      max-width: 300px;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  footer {
    background: #2b2d42;

    .header-container {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 2rem;
    }

    nav {
      width: 100%;
      max-width: 300px;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
