@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";

.font-h1 {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.font-span {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.home-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 0.125rem;
  font-size: 1.875rem;
  font-weight: 800;
}

ion-header {
  margin-bottom: 0.625rem;
}

.wrapper-container {
  transform: translateY(15%);
}

.background {
  --background: linear-gradient(162deg, #03055ea6 20%, #03055ea6 100%),
    url("../../../assets/vanishing-stripes.svg") bottom no-repeat;
}

.header ion-toolbar {
  --background: transparent;
}

.main-content {
  text-align: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-slider-card {
  //width: 100%;
  height: 20rem;
  border-radius: 12px;
  box-shadow: none;

  img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);

  .movie-slider-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.generate-btn {
  margin-top: 20px;
  width: 120px;
  height: 3.125rem;
  --background: #ff002b;
}
